body {
  background-color: white;
  color: black;
}

/* button */
button {
  background-color: white;
  color: black;
}

/* hovered over button */
button:hover{
	colour: green;
}

/* External Link */
a[href*='//'] {
	background-color: Pink;
}

/* link */
a {
  cursor: pointer;
}

/* hovered over link */
a:hover {
  color: green;
}

/* selected link */
a:active {
  color: blue;
}