body {
  background-color: black;
  color: white;
  border-color: white; 
}

button {
  background-color: Gray;
  color: blue;
  border: blue;
}

.button2 {
  background-color: blue;
  color: gray;
  border: gray;
}