

body {
  background-color: black;
  color: gray;
}

/* button */
button {
  background-color: black;
  color: gray;
}

/* hovered over button */
button:hover{
	colour: green;
}

/* link */
a {
  cursor: pointer;
}

/* unvisited link */
a:link {
  color: LightBlue;
}

/* visited link */
a:visited {
  color: SkyBlue;
}


/* hovered over link */
a:hover {
  color: green;
}

/* selected link */
a:active {
  color: blue;
}