body {
  background-color: white;
  color: black;
  border-color: black;
}

/* link */
a {
  cursor: pointer;
}

/* hovered over link */
a:hover {
  color: green;
}

/* selected link */
a:active {
  color: blue;
}