body {
  background-color: black;
  color: white;
  border-color: white; 
}

button {
  background-color: DimGray;
  color: white;
  border: none;
}

.button2 {
  background-color: Gray;
  color: black;
  border: none;
}